body{
    font-family: 'Alumni Sans Collegiate One', sans-serif;
    font-family: 'Noto Sans JP', sans-serif;
}
.conte {
    // height: 101vh;
    width: auto;
    background-size: auto 100%;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
  
    background-color: rgb(248, 215, 180) ;
    background-image:
   repeating-linear-gradient(-45deg,
   #fff, #fff 7px,
   transparent 0, transparent 14px);


    ul{
        li:hover {
            opacity: 60%;
        }

        position: relative;
        .hokkaido{
            position: absolute;
            left: 62%;
            top: 15vh;
            // background-color: white ;
            opacity: 0.8;
           
            
        }
        .tohoku{
            position: absolute;
            left: 58%;
            top: 41vh;
            opacity: 0.8;
            // background-color: white;
            
        }
        .kanto{
            position: absolute;
            left: 56%;
            top: 58vh;
            // background-color: white ;
            opacity: 0.8;
            
        }
        .hokuriku{
            position: absolute;
            left: 47%;
            top: 55vh;
            // background-color: white ;
            opacity: 0.8;
           
        }
        .tokai{
            position: absolute;
            left: 44%;
            top: 62vh;
            // background-color: white ;
            opacity: 0.8;
            

        }
        .kansai{
            position: absolute;
            left: 42%;
            top: 65vh;
            // background-color: white ;
            opacity: 0.8;
           
        }
        
        .shikoku{
            position: absolute;
            left: 38%;
            top: 70vh;
            // background-color: white ;
            opacity: 0.8;
           
        }
        .kyushu{
            position: absolute;
            left: 33%;
            top: 76vh;
            // background-color: white ;
            opacity: 0.8;

        }
        .okinawa{
            position: absolute;
            left: 24%;
            top: 86vh;
            // background-color: white ;
            opacity: 0.8;
        }

        
    }

   

    img {
        width: auto;
        height: 95vh;

    }

    h1 {
        font-weight: bold;
        font-size: 5vh;
    }

    .city {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .result-01 {
        
        width: 30%;
        img {
            height: 60%;
        }
        h2 {
            font-size: 20px;
        }
    }
}



// .img01 {

//     background-color: rgb(196, 240, 205);
// }



// ここから、ブルーステッカー
.wrap {width:200px; margin:auto;  z-index:1;}

.msg {
  color: whitesmoke;
  text-align:center;
  font-family: 'Bree Serif', Courier, monospaced;
  font-size:2em;
  width:200px;
  position:absolute;
  margin:55px 0 0 2px;
  pointer-events: none; 
  left: 73px;
    top: 120px;
}

.sticker {
    left: 73px;
    top: 120px;
  width:200px;
  height:200px;
  position:absolute;
  background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/13034/sticker.png) top center no-repeat; 
  animation: spin 10s linear infinite;
  /*Set our animation play state to paused initially */
  animation-play-state: paused; 
 
  
}

.sticker:hover {
  /* Toggle our animation play state to running when we are hovering over our sticker */
  animation-play-state: running ;
}


@keyframes spin {
    100% {transform: rotate(1turn); }
}




// ここからレインボー

$blue : #35A7FF;
$pink : #FFE74C;
$green : #FF5964;
$red : #FF5964;
$frame : calc(15/100);
html{
	background:linear-gradient(rgba(40,40,40,.9),rgba(20,20,20,.9));
	height:100%;
}
.rainbow_txt{
	color:white;
	font-size:500%;
	text-align:center;
	font-family:sans-serif;
	letter-spacing:0.09em;
	text-rendering:optimizeLegibility;
	
	text-shadow:
		1px -1px 0px #555,
		-1px 2px 0px $blue,
		-2px 4px 1px $blue,
		-3px 6px 1px $blue,
		-4px 8px 1px $pink,
		-5px 8px 1px $pink,
		-6px 10px 0px $pink,
		-7px 12px 1px $green,
		-8px 14px 1px $green,
		-9px 16px 1px $green,
		-10px 18px 1px $red,
		-11px 20px 1px $red,
		-12px 22px 0px $red;
		
		animation:scrollOne 1s forwards infinite;
}

@keyframes scrollOne{
	0%{
		text-shadow:
		1px -1px 0px #555,
		-1px 2px 0px $blue,
		-2px 4px 1px $blue,
		-3px 6px 1px $blue,
		-4px 8px 1px $pink,
		-5px 8px 1px $pink,
		-6px 10px 0px $pink,
		-7px 12px 1px $green,
		-8px 14px 1px $green,
		-9px 16px 1px $green,
		-10px 18px 1px $red,
		-11px 20px 1px $red,
		-12px 22px 0px $red;
	}
	9.09%{
		text-shadow:
		1px -1px 0px #555,
		-1px 2px 0px $red,
		-2px 4px 1px $blue,
		-3px 6px 1px $blue,
		-4px 8px 1px $blue,
		-5px 8px 1px $pink,
		-6px 10px 0px $pink,
		-7px 12px 1px $pink,
		-8px 14px 1px $green,
		-9px 16px 1px $green,
		-10px 18px 1px $green,
		-11px 20px 1px $red,
		-12px 22px 0px $red;
	}
	18.18%{
		text-shadow:
		1px -1px 0px #555,
		-1px 2px 0px $red,
		-2px 4px 1px $red,
		-3px 6px 1px $blue,
		-4px 8px 1px $blue,
		-5px 8px 1px $blue,
		-6px 10px 0px $pink,
		-7px 12px 1px $pink,
		-8px 14px 1px $pink,
		-9px 16px 1px $green,
		-10px 18px 1px $green,
		-11px 20px 1px $green,
		-12px 22px 0px $red;
	}
	27.27%{
		text-shadow:
		1px -1px 0px #555,
		-1px 2px 0px $red,
		-2px 4px 1px $red,
		-3px 6px 1px $red,
		-4px 8px 1px $blue,
		-5px 8px 1px $blue,
		-6px 10px 0px $blue,
		-7px 12px 1px $pink,
		-8px 14px 1px $pink,
		-9px 16px 1px $pink,
		-10px 18px 1px $green,
		-11px 20px 1px $green,
		-12px 22px 0px $green;
	}
  36.36%{
		text-shadow:
		1px -1px 0px #555,
		-1px 2px 0px $green,
		-2px 4px 1px $red,
		-3px 6px 1px $red,
		-4px 8px 1px $red,
		-5px 8px 1px $blue,
		-6px 10px 0px $blue,
		-7px 12px 1px $blue,
		-8px 14px 1px $pink,
		-9px 16px 1px $pink,
		-10px 18px 1px $pink,
		-11px 20px 1px $green,
		-12px 22px 0px $green;
	}
	45.45%{
		text-shadow:
		1px -1px 0px #555,
		-1px 2px 0px $green,
		-2px 4px 1px $green,
		-3px 6px 1px $red,
		-4px 8px 1px $red,
		-5px 8px 1px $red,
		-6px 10px 0px $blue,
		-7px 12px 1px $blue,
		-8px 14px 1px $blue,
		-9px 16px 1px $pink,
		-10px 18px 1px $pink,
		-11px 20px 1px $pink,
		-12px 22px 0px $green;
	}
	54.54%{
		text-shadow:
		1px -1px 0px #555,
		-1px 2px 0px $green,
		-2px 4px 1px $green,
		-3px 6px 1px $green,
		-4px 8px 1px $red,
		-5px 8px 1px $red,
		-6px 10px 0px $red,
		-7px 12px 1px $blue,
		-8px 14px 1px $blue,
		-9px 16px 1px $blue,
		-10px 18px 1px $pink,
		-11px 20px 1px $pink,
		-12px 22px 0px $pink;
	}
	63.63%{
		text-shadow:
		1px -1px 0px #555,
		-1px 2px 0px $pink,
		-2px 4px 1px $green,
		-3px 6px 1px $green,
		-4px 8px 1px $green,
		-5px 8px 1px $red,
		-6px 10px 0px $red,
		-7px 12px 1px $red,
		-8px 14px 1px $blue,
		-9px 16px 1px $blue,
		-10px 18px 1px $blue,
		-11px 20px 1px $pink,
		-12px 22px 0px $pink;
	}
	72.72%{
		text-shadow:
		1px -1px 0px #555,
		-1px 2px 0px $pink,
		-2px 4px 1px $pink,
		-3px 6px 1px $green,
		-4px 8px 1px $green,
		-5px 8px 1px $green,
		-6px 10px 0px $red,
		-7px 12px 1px $red,
		-8px 14px 1px $red,
		-9px 16px 1px $blue,
		-10px 18px 1px $blue,
		-11px 20px 1px $blue,
		-12px 22px 0px $pink;
	}
	81.81%{
		text-shadow:
		1px -1px 0px #555,
		-1px 2px 0px $pink,
		-2px 4px 1px $pink,
		-3px 6px 1px $pink,
		-4px 8px 1px $green,
		-5px 8px 1px $green,
		-6px 10px 0px $green,
		-7px 12px 1px $red,
		-8px 14px 1px $red,
		-9px 16px 1px $red,
		-10px 18px 1px $blue,
		-11px 20px 1px $blue,
		-12px 22px 0px $blue;
	}
	90.90%{
		text-shadow:
		1px -1px 0px #555,
		-1px 2px 0px $blue,
		-2px 4px 1px $pink,
		-3px 6px 1px $pink,
		-4px 8px 1px $pink,
		-5px 8px 1px $green,
		-6px 10px 0px $green,
		-7px 12px 1px $green,
		-8px 14px 1px $red,
		-9px 16px 1px $red,
		-10px 18px 1px $red,
		-11px 20px 1px $blue,
		-12px 22px 0px $blue;
	}
	100%{
		text-shadow:
		1px -1px 0px #555,
		-1px 2px 0px $blue,
		-2px 4px 1px $blue,
		-3px 6px 1px $pink,
		-4px 8px 1px $pink,
		-5px 8px 1px $pink,
		-6px 10px 0px $green,
		-7px 12px 1px $green,
		-8px 14px 1px $green,
		-9px 16px 1px $red,
		-10px 18px 1px $red,
		-11px 20px 1px $red,
		-12px 22px 0px $blue;
	}
	
}


HTML CSSResult Skip Results Iframe
EDIT ON
.container{
  position:relative;
  width:100%;
  height:300px;
}

// ここから、tap city

.bound span{
  font-family: Consolas, 'Courier New', Courier, Monaco, monospace;
  position: absolute;
  left: 55%;
  right: 0;
  top:0;
  bottom:-82%;
  margin: auto;
  font-size:3em;
  font-weight:bold;
  color:#05649f;
  border-radius: 50%;
  background-color: white;
  text-align:center;
  width:340px;
  height:60px;
  animation: bound-anim 1s infinite;
}

@keyframes bound-anim {
  0%,100% {top: 0;transform: scale(1);}
  30% {top: -25%;}
  50% {transform: scale(1);}
  90% {top: 0;transform: scale(1.1,0.8);}
}





